*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $primary-font;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
}

.small-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.titles {
  color: $titles;
  font-weight: 500;
  margin-bottom: 15px;
}

h1, h2 {
  padding-left: 25px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 12px;
  line-height: 18px;
  color: $text;
  font-weight: 400;
}

a.btn-subline{
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition-timing-function: ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

.btn {
  display: inline-block;
  margin: 30px 0;
  padding: 10px 15px;
  background-color: $gray;
  color: $btn-gray-text;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}

.start-content{
  max-width: 100vw;
  padding-top: 130px;
}