@mixin flex-layout($jc: center, $ai: center, $gap: 50px, $fd: false) {
  display: flex;

  @if ($jc) {
    justify-content: $jc;
  }

  @if ($ai) {
    align-items: $ai;
  }

  @if ($gap) {
    gap: $gap;
  }

  @if ($fd) {
    flex-direction: $fd;
  }
}
