.projects {
  padding-bottom: 72px;

  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
  .project {
    flex: 1 0 351px;
    max-width: 100%;
    figure{
      // max-height: 351px;
      border-radius: 16px;
      overflow: hidden;
      img {
        border-radius: 16px;
      }
    }

    .small-title {
      padding-left: 0;
      color: $btn-gray-text;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      margin-top: 5px;
    }

    &-name{
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }
  }

  .btn{
    &.btn-arrow {
      color: $blue;
      background-color: transparent;
      padding-right: 30px;
      font-size: 18px;
      background-image: url('../svg/right-arrow.svg');
      background-position: center right;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 769px) {
  .projects {

    .titles {
      font-size: 36px;
      line-height: 54px;
    }

    &-grid {
      row-gap: 0;
      padding-top: 40px;
      max-width: 1120px;
      margin: 0 auto;

      .project {
        width: 545px;

        &:nth-child(2n + 1) {
          position: relative;
          margin-top: 110px;
        }

        &:nth-child(2n) {
          position: relative;
          margin-top: -20px;
        }
      }
    }
  }
}