.reviews {
  padding: 100px 0;
  blockquote{
    p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: $titles;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 35px 0;
    max-width: 355px;

    figure {
      width: 82px;
      height: 82px;
      border-radius: 12px;
      overflow: hidden;
    }

    p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      color: $titles;
      margin-bottom: 10px;
    }

    span {
      font-size: 18px;
      line-height: 27px;
      color: $btn-gray-text
    }
  }
}