.team-players {
  .small-title, .titles{
    padding-left: 0;
  }

  .small-title {
    color: $orange;
    font-size: 18px;
  }

  .titles {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }

  &__description {
    p {
      padding-right: 25%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__images{
    margin: 35px 0 0;
    .box{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: fit-content;
      margin: 0 auto;


      .left, .right {
        width: 50%;

        figure {
          border-radius: 24px;
          img {
            border-radius: 24px;
            overflow: hidden;
          }
        }
      }


      .left {
        figure {
          max-width: 178px;
          max-height: 178px;
        }
      }

      .right {
        figure {
          &:nth-child(1) {
            max-width: 145px;
            max-height: 145px;
            margin-bottom: 10px;
  
          }
          &:nth-child(2) {
            max-width: 163px;
            max-height: 167px;
  
          }
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }

  @media screen and (min-width: 1024px) {

    &__images {
      width: 50%;

    }
    .box {
      .left, .right {
        width: unset;
      }
      .left {
        
        figure {
          width: 320px;
          height: 320px;
          max-width: 320px;
          max-height: 320px;
        }
      }

      .right {
        figure {
          &:nth-child(1) {
            width: 260px;
            height: 260px;
            max-width: 260px;
            max-height: 260px;
          }

          &:nth-child(2) {
            width: 292px;
            height: 300;
            max-width: 292px;
            max-height: 300px;
          }
        }
      }
    }
  }
}